<h3>Task todo</h3>

<div *ngFor="let task of regular_tasks;let i = index ">
  <div>
  <span [ngClass]="{'strike':task.done == true}">{{task.task_name}}</span>
  <span >
  <input type="checkbox" [(ngModel)]="task.done" (change)="onchange(i,$event)" [checked]="ischecked">
   <label>
    Done
   </label><br><br>
</span>
  </div>
</div>

<h3>Outstanding tasks</h3>

 <ul *ngFor="let out of outstanding_tasks; let a =index"> 
  <li>{{out}}</li>
</ul>
<p *ngIf="outstanding_tasks.length == 0">All Tasks are done</p>

